name: Minor Release

on:
  workflow_dispatch:

jobs:
  release:
    uses: ./.github/workflows/publish.yml
    with:
      bump_type: minor
    permissions:
      contents: write
      id-token: write
